* {
  line-height: calc(1em + 1ex);
  box-sizing: border-box;
}

html {
  font-family: system-ui;
  background-color: hsl(0, 0%, 95%);
}

pre,
code {
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace;
}

body {
  margin: 0;
}

h1 {
  margin: calc(0.5 * (1em + 1ex));
}

h1 a {
  color: inherit;
}

div,
pre {
  width: 50%;
  position: absolute;
  top: calc(4 * (1em + 1ex));
  bottom: 0;
}

pre {
  font-size: 1em;
  right: 0;
  margin: 0;
}

textarea {
  border-width: 0;
  padding: calc(1em + 1ex);
  height: 100%;
  width: 100%;
  background-color: white;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  z-index: 1;
}

code {
  width: 100%;
  display: block;
  overflow-y: scroll;
  height: 100%;
  font-size: 85%;
  padding: calc(1em + 1ex);
  border-width: 0;
  background-color: #f6f8fa;
  color: #24292e;
}

.object,
.array {
  padding-left: 0;
  list-style-type: none;
  display: inline;
}

.string {
  color: #032f62;
}

.number,
.null,
.boolean {
  /* number */
  color: #005cc5;
}

.escape,
.separator {
  /* bullet */
  color: #990073;
}

.selected {
  /* addition */
  background-color: #dfd;
}

.value,
.pair {
  display: block;
  padding-left: calc(1em + 1ex);
}

.value:only-child {
  display: inline;
  padding-left: 0;
}

.object::before {
  content: '{';
}

.object::after {
  content: '}';
}

.array::before {
  content: '[';
}

.array::after {
  content: ']';
}

.string::before,
.string::after {
  content: '"';
}

.pair::after,
.value::after {
  content: ',';
}

.pair:last-child::after,
.value:last-child::after {
  content: '';
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: hsl(214, 13%, 7.5%);
    color: hsl(214, 13%, 95%);
  }

  code {
    background-color: hsl(214, 13%, 5%);
  }

  textarea {
    background-color: hsl(214, 13%, 10%);
  }

  .string {
    /* string */
    color: #a3be8c;
  }

  .number,
  .null,
  .boolean {
    /* number */
    color: #b48ead;
  }

  .escape,
  .separator {
    /* bullet */
    color: #81a1c1;
  }

  .selected {
    /* addition */
    background-color: rgba(163, 190, 140, 0.5);
  }
}
